<div class="header borderUnder">
    <div class="container">
        <div class="row">
            <div class="logoSearch my-md-6 i-my-sm-3">
                <img src="/assets/images/logo.png" alt="logo">
                <h1 class="logoText font-second align-items-center ">7TAO<span class="me-md-12">活動訂票網</span></h1>
                <div class="search d-flex align-items-center">
                    <div class="input-group">
                        <input type="text" class="form-control  inputStyle" placeholder="探索活動" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary btnStyle" type="button" id="button-addon2"><i class="icofont-search-1 searchIcon"></i></button>
                    </div>
                </div>
                <div class="login-web">
                    <ul class="login list-unstyled d-flex">
                        <li class="font-second"><a href="#"><i class="icofont-ui-file me-md-1"></i>REGISTER</a></li>
                        <li class="font-second"><a href="#"><i class="icofont-ui-user ms-md-6 me-md-1"></i>LOGIN</a></li>
                    </ul>
                    <!-- <div class="login">
                        <button class="btnRegister btnStyle font-second"><i class="icofont-ui-file me-md-1"></i>REGISTER</button>
                        <button class="btnLogin btnStyle font-second"><i class="icofont-ui-user ms-md-6 me-md-1"></i>LOGIN</button>
                    </div> -->
                </div>
                <div class="login-pad">
                    <div class="hamburger">
                        <button class="btnStyle d-flex justify-content-center align-items-center border border-dark rounded w-54 h-38" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <span class="material-symbols-outlined">
                                menu
                            </span>
                        </button>
                        <!-- <a class="d-flex align-items-center px-12 py-1 border border-dark rounded h-100" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="material-symbols-outlined">
                                menu
                            </span>
                        </a> -->
                    </div>
                    <div class="collapse menuShow" id="collapseExample">
                        <ul class="list-unstyled border-bottom border-2 border-dark py-4">
                        <li class="container font-second mb-3">
                            <a href="#" class="d-flex align-items-center">
                                <i class="icofont-ui-file me-md-1"></i>
                            REGISTER
                            </a>
                        </li>
                        <li class="container font-second">
                            <a href="#" class="d-flex align-items-center">
                                <i class="icofont-ui-user me-md-1"></i>
                            LOGIN
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ul class="list-unstyled border-bottom border-2 border-dark py-4">
    <li class="container mb-3">
        <a href="#" class="d-flex align-items-center">
            <i class="icofont-ui-file me-md-1"></i>
        REGISTER
        </a>
    </li>
    <li class="container">
        <a href="#" class="d-flex align-items-center">
            <i class="icofont-ui-user me-md-1"></i>
        LOGIN
        </a>
    </li>
</ul> -->