// 所有活動 Tag
.btn-outline-black {
    border-color: $black;
}

.tag-checkbox {
    // 隱藏 checkbox
    display: none;
}

.tag-list {
    .tag-item {
        position: relative;
        font-family: $font-family-third;
        font-weight: bold;
        border-left: 4px solid $black;
    }
    .tag-item:focus {

        box-shadow: none;
    }
    .tag-item:hover,
    .tag-item.active,
    .tag-checkbox:checked + .tag-item {
        background-color: $primary;
        color: $white;
        &::before {
            position: absolute;
            content: "";
            width: 4px;
            background-color: $secondary;
            height: calc(100% + 4px);
            top: -2px;
            left: -4px;
        }
    }
}