.swiper {
    background-color: #000;
    height: 94px;
}
.swiper-wrapper {
    transition-timing-function: linear;
}
.swiper-slide {
    height: 94px;
    line-height: 94px;
    font-size: 32px;
    letter-spacing: 3.2px;
    width: auto;
    color: $secondary;
    background: #000;
    white-space: nowrap;
}
