.header{
    position: relative;
}
.logoSearch{
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;

    @include mobile {
        height: 40px;
        justify-content: space-between;
    }
    .logoLink{
        height: 55px;
        display: flex;
        justify-content: start;
        align-items: center;
    }  
    .logoLink:hover{
        opacity: 0.7;
    }  
    .logo{
        width: 53px;
        height: 53px;
        margin-right: 16px;
        
        @include mobile {
            width: 40px;
            height: 40px;
            margin-right: 0;
        }
    }
    .logoText{
        display: flex;
        font-size: $h1-font-size;
        height: 55px;
        line-height: 55px;
        margin: 0;
        
        @include mobile {
            display: none;
        }
        span{
            font-family: $font-family-third;
            font-size: $font-size-base;
            font-weight: bold;
            margin-left: 4px;

            @include mobile {
                display: none;
            }
        }
    }
    .search{
        width: 335px;
        height: 55px;

        @include mobile {
            width: 207px;
            height: 39px;
        }
        .searchBox{
            width: 284px;
            height: 55px;
            color: #878787;
            border: 2px solid $primary;
            border-right: 0;
            padding: 16px 0px 16px 24px;

            @include mobile {
                width: 168px;
                height: 39px;
            }
        }
        .searchBox:focus{
            width: 284px;
            height: 55px;
            color: #878787;
            border-top: 2px solid $primary;
            border-left: 2px solid $primary;
            border-bottom: 2px solid $primary;
            padding: 16px 0px 16px 24px;

            @include mobile {
                width: 168px;
                height: 39px;
            }
        }
        .searchBtn{
            background: $primary;
            width: 51px;

            @include mobile {
                width: 39px;
                height: 39px;
            }
            .searchIcon{
                color: $secondary;
            }
        }
        .searchBtn:hover{
            background: $gray-800;
        }
    } 
    
}
.material-symbols-outlined {
    font-size: 30px;
}
.login-web{
    display: block;
    display: flex;
    margin-left: auto;

    .login{
        margin: 0;

        .loginItem{
            font-size: $font-size-sm;
        }
        .loginItem:hover{
            color: #9C9E18;
        }
        .loginItem:active{
            color: #9C9E18;
        }
    }
    
    @include pad {
        display: none;
        
        .loginItem{
            display: none;
        }
    }
}
.login-pad{
    display: none;

    
    @include pad {
        display: block;
        margin-left: auto;

        li{
            font-size: $font-size-sm;
        }
    }
    @include mobile {
        margin-left: 0;
    }
    .menuShow{
        position: absolute;
        z-index: 100;
        top: 106px;
        left: 0;
        right: 0;
        background: $bg-color;

        @media (max-width: 768px) {
            top: 91px;
        }

        @media (max-width: 576px) {
            top: 67px;
        } 
    }
}
